/*Start hiding from IE Mac \*/
/* Phân trang */
.div_phan_trang
{
	margin:10px;
	width:100%;
	text-align:center;
	height:50px;
	
}
.div_trang
{
	width:30px;
	padding:5px 10px 5px 10px;
	text-align:center;
	 background-color: forestgreen;
	margin:2px;
	color:white;
	
}
.div_trang a
{
	text-decoration:none;
	color:white;
}
.cur{
	background-color: darkred !important;
}
/* kết thúc Phân trang */

